.ied-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1670px;
}

.breja {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.drogas {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.problemas {
  width: 41.85%;
  display: block;
  margin: 0 auto;
}



.container {
  width: 80%;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}